# .gitignore file
*~
__pycache__
/O2
/O2_plots
/CH4
/CH4_test
/CH4_plots
/CH4+
/CH4+_tighter_conv_first
/CH4+_forced_td
/CH4+_tighter_conv
/CH4_wo_symmetry
/4H-SiC
/CH4+_hex_cell_origo
/CH4+_hex_cell_center
/CH4+_hex_cell_off_center
/SF6
/SiC
/Methane
readme.txt
POSCAR
slurm*
*.png
*.pyc
*.out.xz
xtesting2.py
*.vasp
*.bz2
/sym_test
settings_dedur.json
overlap_failed.py
